@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.image-carousel {
    position: relative;
    width: 100%;
    height: 10vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (orientation: landscape) {
      height: 25vh;
      padding: $unit-4;
    }
  
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 1s ease-in-out;
    }
  }