.book-service {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.book-service__icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.book-service__button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.book-service__button:hover {
  background-color: #d55e15;
  color: white;
}
