@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

/* LogoSlideshow.scss */
.logo-slideshow {
    overflow: hidden;
    width: 80%; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    position: relative;
    background-color: $primary-orange;
    
  
    &__wrapper {
      display: flex;
      animation: slide 38s linear infinite; /* Adjust duration as needed */
    }
  
    &__logo {
      width: 150px; /* Adjust width as needed */
      height: 100px; /* Adjust height as needed */
      margin-right: 20px; /* Adjust spacing as needed */
      
    }
  
    @keyframes slide {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-150px * 41 - 20px * 41)); /* Adjust based on logo width and spacing */
      }
    }
  }