@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.hero{
    background-image: url(src/assets/images/white.jpeg);
    min-height: 60vh;
    background-repeat: no-repeat;
    background-position: right;
    background-color: black;    

    background-size: contain;
    display: flex;
    flex-direction: column;
    

    &__sub-heading{
        color: white;
        font-size: 2rem;
        
padding: 2rem;
    }

    &__heading{
        color: $primary-orange;
        font-size: 4rem;
    }

    &__text{
        text-align: center;
        

        @include tablet{
            margin-top: 4rem;
        margin-left: 2rem;
        max-width: 66vw;
        }
        
    }

    &__promo {
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 0.6s forwards; // Adjust duration as needed
      
        @keyframes fadeInUp {
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
      
        // Optional: Add some styling
        font-size: 1.5rem; // Adjust size as needed
        text-align: center;
        color: $secondary-orange; // Use your theme color
      }
      
}