.excellence{
    display: flex;
    flex-direction: column;
   justify-content: center;

   &__text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
   }

   &__header{
    color: orange;
    font-size: 3rem;
   }

   &__sub-header{
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
   }
}