@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.excellence{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;

   &__text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 1rem;
   }

   &__header{
    color: $primary-orange;
    font-size: 3rem;
    text-align: center;

    @include mobile {
        margin-top: .5rem;
    }
   }

   &__sub-header{
    font-size: 2rem;
    font-weight: 200;
    
   }
}