.excellence{
    display: flex;
    flex-direction: column;
   justify-content: center;

   &__text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
   }

   &__header{
    color: orange;
   }
}