@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.customize {
  &__hero {
    position: relative;
    height: 60vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;

    &-video {
      position: absolute;
      top: 49%;
      left: 50%;
      min-width: 100%;
      min-height: 70%;
      width: auto;
      height: auto;
      z-index: -1;
      transform: translate(-50%, -50%);
    }

    &-content {
      position: relative;
      z-index: 1;
      bottom: 30%;
      
    }


  }
}

