@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.nav {
  margin: 0;
  padding: 0;
}

.about {
  text-align: center;

  &__hero {
    text-align: center;
    position: relative;
    height: 100vw;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0; // Ensure no margin
    padding: 0; // Ensure no padding

    @media (orientation: landscape) {
      height: 80vh;
    }

    @media (orientation: portrait) {
      height: 58vw;
    }

    &-video {
      position: absolute;
      top: 0;
      left: 30%;
      min-width: 150vw;
      min-height: 80%;
      width: 150vw;
      height: auto;
      z-index: -1;
      transform: translate(-50%, -50%);
    }

    @media (orientation: landscape) {
      &-video {
        top: 66%; // Adjust this value to position the video lower
      }
    }

    @media (orientation: portrait) {
      &-video {
        top: 50%; // Adjust this value to position the video lower
        height: 69vw;
        left: 39%;
      }
    }

    &-content {
      position: relative;
      z-index: 1;
      margin: auto;
    }
  }
}

.subsection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  margin: 0; // Ensure no margin
  padding: 2rem; // Ensure no padding

  @media (orientation: landscape) {}

  &__text-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  &__header {
    color: $primary-orange;
    margin-left: 1rem;
    font-size: 2rem;
  }

  &__paragraph {
    color: white;
    padding: 1rem;
    padding-bottom: 0;
    font-style: italic;
  }
}

.journey {
  text-align: center;
  margin: 0; // Ensure no margin
  padding: 0; // Ensure no padding

  &__header {
    color: $primary-orange;
    font-size: 4rem;
    padding: 1rem;
    padding-bottom: .5rem;
    margin-left: 1rem;

    @include mobile {
      padding-top: 0;
    }
  }

  &__paragraph {
    color: white;
    padding: 1rem;
    padding-top: 0;
    margin-left: 1rem;
    font-style: italic;
  }
}
