@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.service-list-item {
    background-color: black;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 66vw;
    text-align: center;
    transition: transform 0.5s ease-in-out;

    &.animate-service {
      animation: fade-in 0.5s ease-out forwards;
    }

    @keyframes fade-in {
      from {
        
        transform: translateY(20px);
      }
      to {
        
        transform: translateY(0);
      }
    }
    @include tablet {
        max-width: 33vw;
        padding: 20px;
    }

  
    &__title {
      margin: 0 0 10px;
      font-size: 1.5rem;
      color: $primary-orange;
      text-decoration: underline;

    }
  
    &__paragraph {
      margin: auto;
      font-size: 1rem;
      color: white;
      width: 75%;
      text-align: center;
    }
  }