@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    &__header {
        color: white;
        margin-bottom: 1rem;
        font-size: 3rem;
    }
}

.contact-form {
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    flex-direction: row;
    min-width: 90vw;
    border-radius: 0.5rem;
    min-height: 20vw;
    

    &__submit {
        margin: 1.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        color: white;
        background-color: black;
        width: 100%;
        transition: background-color 0.3s ease; // Smooth transition for color changes

        &:hover {
            background-color: $primary-orange; // Turn orange on hover
        }

        &:active {
            background-color: $secondary-orange; // Turn gold on click
        }
    }

    &__input {
        border: none; // No border
        border-bottom: 1px solid $primary-dark; // Keep the bottom border
        padding: .5rem;

        &:focus {
            outline: none; // Remove default outline on focus
            border-bottom: 1px solid black; // Optional: Change bottom border color on focus
        }
    }
}

.input-container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container-row {
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: space-between;
    margin-bottom: 1rem;

    @include tablet {
        margin-top: 1rem;
        flex-direction: row;
    }
}

.email-input{
    width: 50vw;

    @include tablet {
        width: 200%;
    }
}

.name-input {
    @include mobile {
        margin-top: 1rem;
    }
}

.message-input{
    width: 50vw;
    height: 4rem;
    margin: auto;
    
}

.contact-form__status {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
  
    &--success {
      color: green;
      border: 1px solid green;
    }
  
    &--error {
      color: red;
      border: 1px solid red;
    }
  }
  