@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.contact-info{
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
    align-items: center;
    
    @include tablet {
        flex-direction: row;
        justify-content: center;
    }
}