.footer{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text{
        color: white;
    }
    &__link{
        text-decoration: none;
        color: orange;
    }
}