@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.footer{
    background-color: $primary-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    

    &__text{
        color: white;
    }
    &__link{
        text-decoration: none;
        color: $primary-orange;
    }
}