@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.socials {
    background-color: $primary-orange;
    display: flex;
    flex-direction: column;
    max-width: 15vw;
    align-items: center;
    border-radius: .25rem;


    &__icon {
        max-width: 50px;
        padding: 0.5rem;
        transition: transform 0.3s ease; // Smooth transition for scaling

        &:hover {
            transform: scale(1.2); // Scale up the icon on hover
        }
    }
}