@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background for navbar
    width: 100%;
    z-index: 1000; // Ensure it stays above other content
    border-bottom: 2px solid $primary-orange;

    &__logo {
        min-width: 5rem;
        max-width: 10rem;
        margin-left: 2rem;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-right: 2rem;
    }

    &__link {
        text-decoration: none;
        color: aliceblue;
        transition: color 0.3s, transform 0.3s, box-shadow 0.3s;

        &.active {
            color: $primary-orange;
            font-weight: bold;
            text-decoration: underline;
        }

        &:hover {
            color: $secondary-orange;
            transform: scale(1.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    &__services {
        position: relative;

        &:hover {
            color: $secondary-orange; 
        }
    }

    &__submenu {
        position: absolute;
        top: 100%; 
        left: 0;
        background-color: rgba(0, 0, 0, 0.8); // Semi-transparent background for submenu
        display: flex;
        flex-direction: column;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        z-index: 1000; 
        opacity: 0;
        transition: opacity 0.3s ease;

        &.visible {
            opacity: 1; 
        }
    }

    &__sub-link {
        text-decoration: none;
        color: $primary-light;
        padding: 10px;

        &.active {
            color: $primary-orange;
            font-weight: bold;
            text-decoration: underline;
        }

        &:hover {
            color: $secondary-orange; 
            transform: scale(1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }
}