.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__logo {
        min-width: 5rem;
        max-width: 10rem;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-right: 2rem;
    }

    &__link {
        text-decoration: none;
        color: aliceblue;
        transition: color 0.3s, transform 0.3s, box-shadow 0.3s;

        &.active {
            color: orange;
            font-weight: bold;
            text-decoration: underline;
        }

        &:hover {
            color: orange;
            transform: scale(1.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    &__services {
        position: relative; // Ensure submenu is positioned relative to this
        transition: color 0.3s;

        &:hover {
            color: orange; // Change color on hover
        }
    }

    &__submenu {
        position: absolute; // Position submenu below services link
        top: 100%; // Align it directly below
        left: 0;
        background-color: black; // Background for visibility
        display: flex;
        flex-direction: column;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); // Optional: add shadow for depth
        z-index: 1000; // Ensure it appears above other content
        opacity: 0; // Start as invisible
        transition: opacity 0.3s ease; // Smooth transition for visibility

        &.visible {
            opacity: 1; // Fully visible when hovered
        }
    }

    &__sub-link {
        text-decoration: none;
        color: aliceblue;
        padding: 10px; // Add padding for better click area
        transition: color 0.3s, transform 0.3s, box-shadow 0.3s;

        &.active {
            color: orange;
            font-weight: bold;
            text-decoration: underline;
        }

        &:hover {
            color: orange; // Change color on hover
            transform: scale(1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }
}