.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    
    &__logo{
      min-width: 5rem;
      max-width: 10rem;

    }

    &__menu{
        display: flex;
        flex-direction: row;
        gap: 1rem;
       margin-right: 2rem;
       
    }

    &__link{
        text-decoration: none;
        color: aliceblue;
        transition: color 0.3s, transform 0.3s, box-shadow 0.3s;

        &:hover{
            color: orange;
            transform: scale(1.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        }
    }

    &__services{
        position: relative;
        transition: color 0.3s, transform 0.3s, box-shadow 0.3s;

        &:hover{
            color: orange;
            transform: scale(1.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        }
    }

    &__sub-link{
        text-decoration: none;
        color: aliceblue;
        transition: color 0.3s, transform 0.3s, box-shadow 0.3s;

        &:hover{
            color: orange;
            transform: scale(1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        }

    }

    &__submenu{
        position: absolute;
        top: 100%;
        left: 0;
        background-color: black;
        display: flex;
        flex-direction: column;
    }
}